---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';

interface Props {
  title: string;
  description: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>